*{
  margin:0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  border: none;
  font: Helvetica;
  font-size: 12px;
  background-color: #F5F8FA;

}

.navBar{
  margin: 0;
  height:75px;
  font-size: 60px;
  max-width: 100%;
  background-color: white;

}
.navBar p{
	text-align: center;
}
.bodyContainer{
display: inline-block;
float: left;
width: 100vw;
height: 500px;
}
.bodyContainer div{
	float: left;
	margin: 10px;
}

.leftBar{
  width: 20vw;
  height:500px;
  display: inline-block;
  background-color: #F5F8FA;
}

#userNameTop{
	background-color: #1DA1F2;
	width: 18vw;
	height: 60px;
	margin-bottom: 0;
	border-radius: 5px 5px 0px 0px;
}
#userNameBottom{
	background-color: white;
	width: 18vw;
	height: 60px;
	margin-top: 0;
	border-radius: 0px 0px 5px 5px;
}
#trending{
	background-color: white;
	width: 18vw;
	height: 400px;
	border-radius: 5px;

}
.center{
  width: 50vw;
  height: 500px;
   display: inline-block;
  background-color: #F5F8FA;
}
.rightBar{
  width:20vw;
  height: 500px;
   display: inline-block;
  background-color: #F5F8FA;

}
#whoToFollow{
	width: 18vw;
	height: 250px;
	background-color: white;
	border-radius: 5px;
}

.tweet{
	background-color: white;

	font-size: 20px;
	width: 40vw;
	height: 100px;
	border-radius: 5px;
	border: 1px;
}
#userButton{
	font-size: 16px;
	background-color: white;
	border: none;
}
#userButton:hover{
	color: #1DA1F2;
}
